* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/1.jpg) no-repeat center/cover;
    transition: 2s;
}

.quiz-cintainer {
    width: 637px;
    height: 248px;
    padding: 25px;
    border-radius: 14px;
}

#form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 125px; */
    padding: 25px;
    row-gap: 10px;
}

#gender {
    display: block;
    width: 122px;
    height: 45px;
    border: 3px dashed darkgreen;
}

#userName {
    width: 422px;
    height: 32px;
    border: 5px dashed darkgreen;
    font-size: 18px;
}

#sendButton {
    width: 174px;
    height: 38px;
    background: none;
    border: 5px dotted darkgreen;
    color: darkgreen;
    font-size: 19px;
    text-align: center;
}

.test:not(.active) {

    display: none;
}

.test {
    display: block;
    background-color: rgb(0, 159, 0);
    text-align: center;
    padding: 25px;
}

.title {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.question {}

.options {
    justify-content: center;
    display: flex;
    column-gap: 7px;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
}

.option {
    padding: 10px 30px;
    width: 120px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.result {}